ul.carousel-nav {
    list-style-type: none;
    margin: 15% 30%;
}

div.carousel-container > a {
    float: left;
    margin: 1.6% 0;
    text-decoration: none;
}

div.carousel-container > a#previous {
    margin-left: 31%;
}

ul.carousel-nav > li {
    display: none;
    float: left;
    margin: 0 2px;
}

ul.carousel-nav > li.show {
    display: block;
}

ul.carousel-nav > li:hover {
    cursor: pointer;
}

img#popUp {
    margin: 0 4%;
}

div.carousel-container > a.disable {
    pointer-events: none;
    cursor: default;
    background-color: #d9534f;
}
