.idea
.classpath
.project
*.class
*.ipr
*.iws
target/
.iml
*.out
*.log
test/
out/**/*
grailsw
grailsw.bat
wrapper/
.settings/
grails-app/conf/LocalConfig.groovy
web-app/WEB-INF/credentials/AwsCredentials.properties
dump/
